<a href="https://colab.research.google.com/github/hce2/google_drive/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hello World

In [ ]:
print("Hello, World!")

Hello, World!

# 주석 처리
- 코드 작업 시, 특정 코드에 대해 설명
- 사용자 정의 함수 작성 시, 클래스 작성 시.. (도움말 작성)

In [ ]:
# 한 줄 주석 처리
"""
여러 줄 주석 처리가 가능
"""
print("Hello, World!")

Hello, World!

# 변수 (Scalar)
- 객체(Object)로 구현이 됨
   + 하나의 자료형(Type)을 가진다. (이것만 기억!)
   + 클래스로 정의가 됨.
     - 다양한 함수들이 존재 함.

## int
- int 정수를 표현하는 데 사용함.

In [ ]:
# 데이터 전처리..
# 데이터 전처리를 잘해야! 분석도 잘함. 예측 모형도 잘 만듬.
# 데이터 전처리를 잘하기 위해서는, 기초문법이 중요함.

num_int = 1
num_int2 = 3
print(num_int)
print(num_int2)
print(type(num_int)) # 객체의 타입 출력

1
3
<class 'int'>

## float
- 실수를 표현하는데 사용한다.

In [ ]:
num_float = 0.2
print(num_float)
print(type(num_float))

0.2
<class 'float'>

## bool
- True와 False로 나타내는 Boolean 값을 표현하는데 사용한다.

In [ ]:
bool_true = True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

## None
- Null을 나타내는 자료형으로 None이라는 한 가지 값만 가진다.

In [ ]:
none_x = None
print(none_x)
print(type(none_x))

None
<class 'NoneType'>

# 사칙연산

## 정수형 사칙 연산

In [ ]:
a = 4
b = 4
print('a + b = ', a + b) # 정수
print('a - b = ', a - b) # 정수
print('a * b = ', a * b) # 정수
print('a / b = ', a / b) # 실수
print('a // b = ', a // b) # 정수
print('a % b = ', a % b)  # 정수
print('a ** b = ', a ** b) # 정수
c = a /b
print(type(c))

a + b =  8
a - b =  0
a * b =  16
a / b =  1.0
a // b =  1
a % b =  0
a ** b =  256
<class 'float'>

## 실수형 사칙연산

In [ ]:
a = 4.0
b = 4.0
print('a + b = ', a + b)
print('a - b = ', a - b) 
print('a * b = ', a * b) 
print('a / b = ', a / b) 
print('a // b = ', a // b) 
print('a % b = ', a % b)
print('a ** b = ', a ** b)

a + b =  8.0
a - b =  0.0
a * b =  16.0
a / b =  1.0
a // b =  1.0
a % b =  0.0
a ** b =  256.0

# 논리형 연산자
- Bool형은 True와 False 값으로 정의
- AND / OR / NOT

In [ ]:
x = 5 > 4
# print(x)
y = 3 > 4
# print(y)

print(x and x)
print(x and y)
print(y and x)
print(y and y)
print("----")
print(x or x)
print(x or y)
print(y or x)
print(y or y)

True
False
False
False
----
True
True
True
False

## 비교 연산자
- 부등호를 의미한다.
- 비교 연산자로 True와 Flase 값을 도출

## 논리 & 비교 연산자 응용

In [ ]:
var = input("입력하여 주세요...") #숫자가 'srt'로 출력
print(type(var))

입력하여 주세요...1
<class 'str'>

-  형변환을 해준다.
- 문자열, 정수, 실수...

In [ ]:
var = int("1")
print(type(var))

<class 'int'>

In [ ]:
var = int(input("숫자를 입력하여 주세요..."))
print(type(var))

숫자를 입력하여 주세요...1
<class 'int'>

In [ ]:
num1 = int(input("숫자를 입력하여 주세요...")) # 10
num2 = int(input("숫자를 입력하여 주세요...")) # 3
num3 = int(input("숫자를 입력하여 주세요...")) # 5
num4 = int(input("숫자를 입력하여 주세요..."))#  7

var1 = num1 >= num2 # True
var2 = num3 < num4 # True
print(var and var2)
print(var1 or var2)

숫자를 입력하여 주세요...10
숫자를 입력하여 주세요...3
숫자를 입력하여 주세요...5
숫자를 입력하여 주세요...7
True
True

# 변수 (Non Scalar)
- 문자열을 입력

In [ ]:
print("'Hello, World'")
print('"Hello, World"')

'Hello, World'
"Hello, World"

In [ ]:
print('Hello World")

SyntaxError: ignored

## String 연산자
- 덧셈 연산자를 써보자.

In [ ]:
str1 = "Hello "
str2 = "World! "
num1 = 1

print(str1 + str2)
print(str1 + str2 + num1) # 문자와 숫자는 더할 수 없다

Hello World!

TypeError: ignored

- 곱셈 연산자를 사용해본다.

In [ ]:
greeting = str1 + str2
print(greeting * 3)

Hello World! Hello World! Hello World!

## Indexing
- 문자열 인덱싱은 각각의 문자열 안에서 범위를 지정하여 특정 문자를 추출한다.

In [ ]:
greeting = "Hello Kaggle!" # 0부터 시작
print(greeting[10])

l

# 슬라이싱
- 범위를 지정하고 데이터를 가져온다.

In [ ]:
greeting = "Hello Kaggle!"

print(greeting[:]) # 전체 출력
print(greeting[6:]) # 시작인덱스:끝인덱스 6부터 끝까지
print(greeting[:6]) # 처음부터 5까지
print(greeting[3:9]) # 3부터 8까지
print(greeting[0:9:2]) # 0부터 8까지 2칸 마다 출력

Hello Kaggle!
Kaggle!
Hello
lo Kag
HloKg

In [ ]:
greeting[13] # 인덱스 범위 안에 없다

IndexError: ignored

# 리스트
- []
- 시퀀스 데이터 타입
- 데이터에 순서가 존재, 슬라이싱이 가능
- 대괄호('[값1, 값2, 값3]')

In [ ]:
a = [] # 빈 리스트 생성
a_func = list() # 빈 리스트 생성
b = [1] # 숫자가 요소가 될 수 있다.
c = ['apple'] # 문자열도 요소가 될 수 있다.
d = [1, 2, ['apple']] # 리스트 안에 또 다른 리스트를 요소로 넣을 수 있다.

print(a)
print(a_func)
print(b)
print(c)
print(d)

print(type(d))

[]
[]
[1]
['apple']
[1, 2, ['apple']]
<class 'list'>

## 리스트 슬라이싱

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#print(a)
print(a[1]) # 원하는 자리의 요소 출력
print(a[6:])
print(a[:5])
print(a[3:5])
print(a[1:9:2])

2
[7, 8, 9, 10]
[1, 2, 3, 4, 5]
[4, 5]
[2, 4, 6, 8]

In [ ]:
a = [["apple", "banana", "cherry"], 1]
print(a[0])
print(a[0][1])
print(a[0][0][4])
# print(a[0][0][-1]) # 마지막 자리는 '-1'로도 사용 가능하다 
print(a[0][2][2]) # cherry의 e

['apple', 'banana', 'cherry']
banana
e
e

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#print(a)
print(a[::-1]) # 역순
print(a[::2]) # 처음부터 2칸 마다 출력

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 3, 5, 7, 9]

## 리스트 연산자

In [ ]:
a = ["john", "evan"]
b = ["alice", "eva"]

c = a + b
print(c)
d = b + a
print(d)

['john', 'evan', 'alice', 'eva']
['alice', 'eva', 'john', 'evan']

In [ ]:
c = a * 3
d = b *0
print("a * 3 = ", c)
print("b * 0 = ", d) # 리스트 초기화

a * 3 =  ['john', 'evan', 'john', 'evan', 'john', 'evan']
b * 0 =  []

## 리스트 수정 및 삭제

In [ ]:
a = [0, 1, 2]
a[1] = "b"
print(a)

[0, 'b', 2]

### 리스트 값 추가하기

In [ ]:
a = [100, 200, 300]
a.append(400)
print(a)

a.append([500, 600]) # 리스트 안에 리스트로 추가
print(a)

[100, 200, 300, 400]
[100, 200, 300, 400, [500, 600]]

In [ ]:
a = [100, 200, 300]
a.append(400)
print(a)

a.extend([500, 600]) # 리스트 안에 요소로 추가
print(a)

[100, 200, 300, 400]
[100, 200, 300, 400, 500, 600]

In [ ]:
a = [0, 1, 2]
#a.insert(인덱스번호, 넣고자하는 값
a.insert(1, 100)
print(a)

[0, 100, 1, 2]

### 리스트 값 삭제하기

In [ ]:
a = [4, 3, 2, 1, "A"]
a.remove(1) # 리스트 안에 있는 값을 삭제
print(a)
a.remove("A")
print(a)

[4, 3, 2, 'A']
[4, 3, 2]

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

del a[1] # 인덱스 번호에 맞는 값을 삭제
print(a)

del a[1:5]
print(a)

[1, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 7, 8, 9, 10]

In [ ]:
b = ["a", "b", "c", "d"]
x = b.pop() # 마지막 리스트 요소 삭제
print(x)
print(b)

d
['a', 'b', 'c']

### 그 외 메서드

In [ ]:
a = [0, 1, 2, 3]
print(a)

a.clear() # 리스트 초기화
print(a)

[0, 1, 2, 3]
[]

In [ ]:
a = [1, "a", "a", "b", "b"]
print(a.index("a")) # 처음으로 나오는 인덱스 번호 출력
print(a.index("b"))

1
3

In [ ]:
a = [1, 4, 5, 2, 3]
b = [1, 4, 5, 2, 3]

a.sort()
print("sort(): " , a)

# 내림차순, sort()
b.sort(reverse=True)
print("sort(reverse=True): ", b)

sort():  [1, 2, 3, 4, 5]
sort(reverse=True):  [5, 4, 3, 2, 1]

In [ ]:
c = [4, 3, 2, 'a']
c.sort() # 2가지 타입이 있어서 에러

TypeError: ignored

# 튜플
- ()
- List와 비슷하다.
- 슬라이싱, 인덱싱 등등 비슷하다.
- (vs 리스트) : 튜플은 수정 삭제가 안된다.

In [ ]:
tuple1 = (0) # 끝에 콤마(,)를 붙이지 않을 때 --> int
tuple2 = (0,) # 끝에 콤마(,)를 붙일 때 --> tuple
tuple3 = 0, 1, 2
print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
a = (0, 1, 2, 3, 'a')
print(type(a))

# a[1] = "b" # 튜플은 수정이 안된다.
# del a[4] # 튜플은 삭제가 안된다.

# 굳이 바꾸고 싶다면
b = list(a)
print(b)
b[1] = "b"

a = tuple(b)
print(a)

<class 'tuple'>
[0, 1, 2, 3, 'a']
(0, 'b', 2, 3, 'a')

## 튜플 인덱싱 및 슬라이싱 하기

In [ ]:
a = (0, 1, 2, 3, 'a')
print(a[1])
print(a[3])
print(a[ :3])

1
3
(0, 1, 2)

## 더하기 곱셈 연산자 사용

In [ ]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)

print(t1 + t2)
print(t1 * 3)
print(t1 * 0)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
()

# 딕셔너리
- key-value 값으로 나뉨.

In [ ]:
dict_01 = {'teacher' : 'evan',
          'class' : 601,
          'students' : 24,
          '학생이름' : ['A', 'z']}
# print(dict_01)
print(dict_01['teacher'])
print(dict_01['class'])
print(dict_01['학생이름'])
print(dict_01['선생님'])

evan
601
['A', 'z']

KeyError: ignored

In [ ]:
print(dict_01.keys())

dict_keys(['teacher', 'class', 'students', '학생이름'])

In [ ]:
print(dict_01.values())

dict_values(['evan', 601, 24, ['A', 'z']])

In [ ]:
dict_01.items()

dict_items([('teacher', 'evan'), ('class', 601), ('students', 24), ('학생이름', ['A', 'z'])])

In [ ]:
print(dict_01.get("teacher"))
print(dict_01.get("선생님")) # key가 없으면 None 출력
print(dict_01.get("선생님", "값 없음")) # 선생님 이라는 key가 없어서 '값 없음' 출력됨
                                        # 이런것은 어떠한 딕셔너리의 값의 유무를 알기위해 사용됨
# print(dict_01["선생님"]) # get 함수와 결과는 같지만 에러가 남
print(dict_01.get("class"))
print(dict_01.get("students"))

evan
None
601
24

# 조건문 & 반복문

## 조건문

In [ ]:
# 날씨가 맑다 --> 우산을 안 가져간다
# 날씨가 흐리다 --> 우산을 챙긴다

weather = "맑음"
if weather == "비": # 조건식 True가 나오면
  print("우산을 가져간다.")
else: # 조건식 False가 나오면
  print("우산을 가져가지 않는다.")

우산을 가져가지 않는다.

- 등급표 만들기
- 60점 이상 합격 / 불합격

In [ ]:
score = 70
if score >= 60:
  print("합격입니다.")
else:
  print("불합격입니다.")

합격입니다.

In [ ]:
score = int(input("점수를 입력하세요..."))

if score >= 60:
  print("합격입니다.")
else:
  print("불합격입니다.")

점수를 입력하세요...50
불합격입니다.

In [ ]:
# 90점 이상은 A등급
# 80점 이상은 c등급
# 나머지는 F등급

score = int(input("점수를 입력하세요..."))

if score >= 90:
  print("A등급입니다.")
elif score >= 80:
  print("B등급입니다.")
else:
  print("F등급입니다.")

점수를 입력하세요...87
B등급입니다.

## 반복문
- 안녕하세요! 10번 반복하세요

In [ ]:
for i in range(10):
  print(i + 1, "안녕하세요!")

1 안녕하세요!
2 안녕하세요!
3 안녕하세요!
4 안녕하세요!
5 안녕하세요!
6 안녕하세요!
7 안녕하세요!
8 안녕하세요!
9 안녕하세요!
10 안녕하세요!

In [ ]:
count = range(50)
print(count)

for n in count:
  print(str(n + 1) + "번째")
  if (n + 1) == 5:
    print("그만합니다!")
    break
  print("축구 슈팅")

range(0, 50)
1번째
축구 슈팅
2번째
축구 슈팅
3번째
축구 슈팅
4번째
축구 슈팅
5번째
그만합니다!

In [ ]:
a = "hello"

for x in a:
  print(x)

  if x == "l":
    break

h
e
l

- 반복문 작성 방식이 여러가지임..
- zip, renge, enumerate, len, etc

In [ ]:
alphabets = ['A', 'B', 'C']
for index, value in enumerate(alphabets): # 인덱스와 벨류는 내가 임의로 정해도 ok
  print(index, value)

0 A
1 B
2 C